
/* body global CSS*/
body{
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1em;
        margin: 0 auto;
        padding: 0;
        max-width: 1024px;
        }
#logo_link, nav {     
padding: 10px;
}
/* nav CSS*/
header {    
        background-color:#092648;
        display: grid;
        grid-template-columns: 300px auto;  
}
#logo_link { 
        padding-top: 5px;
        justify-self: center;
        align-self: center; 
}
.logo{
        width: 200px;
        z-index: 1;
}
nav{
        display:flex;
        justify-content: space-around;
}
nav a{
        text-align: center;
        padding-top: 20px;
        text-decoration: none;
        color: #fcfbfb;
} 
nav a:hover {
        color: #ef4123;
        text-decoration: none;
}




/************ index page **************/

  /* Slideshow container */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}  
img {vertical-align: middle;}

.slideshow-container {
max-width: 1024px;
position: relative;
margin: auto;
border-radius: 0 0 10px 10px;
overflow: hidden;  
}
/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}     
/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}    
/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}   
.active {
background-color: #717171;
}   
/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}     
@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}    
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}  
/* text on carosel on main page */  
#unlock{
        font-size: 7em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        line-height: 1em;
        margin: 50px;
        display: block;
        width: 50%;
        color:rgb(255, 191, 0);
        position: absolute;
        top:8%;
}
#customer{
        font-size: 7em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        line-height: 1em;
        margin: 50px;
        display: block;
        width: 50%;
        color: white;
        position: absolute;
        top:10%;
}
#easy{
        font-size: 7em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        line-height: 1em;
        margin: 50px;
        display: block;
        width: 50%;
        color:#ef4123;
        position: absolute;
        top:10%;
}


/* customer testimonies Section*/


#customer-text{
       font-size: 3em;
       font-weight: bold;
       text-align: center; 
       color:#ef4123;
}
/* Review Section*/

.review-container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-auto-rows: auto;
        grid-gap:20px;
        padding: 10px 30px 10px 30px;
        text-align: center;
        z-index: -1;
        margin-top: -30px;
}
.reviews{
        padding: 20px 20px 0 0;
        line-height: 1.5em;
        font-size: 0.8em;
        border-radius: 10px;
        background-color: #daf2ca;
        text-align: center;
        margin: 20px 0;
}
.reviews p{
        padding: 10px;
        line-height: 1.5em;
        font-size: 1.2em;
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
#review-color{
        background-color:#abcff9;
}
#review-color01{
        background-color:#f9b9ad;
}
.review-names{
        padding-top: 20px;
        margin: 0 auto;
        font-size: 1.2em;
       
}
.review-face{
border-radius: 100%;
width: 70px;
z-index: 1;
}


/* advert/01 Section*/

.advert-container-index {
        background-image: url("images/advert-banner01.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px;
        margin-bottom: 2%;
}
        .advert-index-text {
            top:13%;
            color:white;
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 3.3em;
            margin: 40px;
            display: block;
            text-align:center;
            position: relative;
            
}

.advert-container-index01 {
        background-image: url("images/advert-banner03.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px 10px 0 0;
}
        .advert-index-text01 {
            color:white;
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 3.3em;
            margin: 0 auto;
            display: block;
            text-align:center;
            position: relative;
            top:33%;                
}


/* Short Package Section*/

.index-pack-container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-auto-rows: auto;
        grid-gap:20px;
        padding: 10px 50px 10px 50px;
        text-align: center;
        z-index: -1;
}
#index-pack, p , h4{
        font-size: 1em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5em;  
}
.index-pack-icon {
        width: 35%;
        display: block;
        margin: 0 auto;
}
.index-pack-icon-name{
        text-align: center;
}


               


/************ package page **************/

/* The hero image */
.img-packed01 {
        /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
        background-image: url("images/main-package.jpg");
        /* Set a specific height */
        height: 450px;  
        /* Position and center the image to scale nicely on all screens */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 0px;
        border-radius: 0 0 15px 15px ;
}
.img-text {
        text-align: left;
        position: absolute;
        color:white;
        width:90%;
        top:-5%;
        font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 4em;
        line-height: 1;
        margin:40px;
}


/*** Package01/03/05 ***/

.package01-container{
        display: flex;
        margin-bottom: 10px;
}
.package01-para{
        width: 49%;
        padding:40px 0px 20px 50px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #2e2e2e;
        line-height: 1.7em;
        font-size: .9em;

}
.package01-img{
        width: 42%;
        margin: auto;
}

/*** Advert section ***/
.advert-container-package {
        background-image: url("images/advert-banner06.jpg");
            height: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position:relative;
            top:0px;
            border-radius: 15px 15px 0 0;
}
.advert-package-text {
            top:25%;
            color:white;
            font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            font-size: 3em;
            margin: 0 auto;
            display: block;
            text-align: center;
            position: relative;
}


/* pricing Package Section*/

.package-container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-auto-rows: auto;
        grid-gap:20px;
        padding: 10px 50px 10px 50px;
        text-align: center;
        z-index: -1;
}
#package, p , h4{
        font-size: 1em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5em;  
}
.package-icon {
        width: 35%;
        display: block;
        margin: 0 auto;
}
#package-icon-name{
        text-align: center;
}




/************ aboutus page **************/


/* The hero image */
.img-packed02 {
            /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
            background-image: url("images/main_business04.jpg");
            /* Set a specific height */
            height: 450px;  
            /* Position and center the image to scale nicely on all screens */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
           
            border-radius: 0 0 15px 15px ;
}
.img-text02 {
            text-align: left;
            position: absolute;
            color:white;
            width:90%;
            top:30%;
            font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 4em;
            line-height: 1;
            margin:40px;
}

/** about us section **/

.about01-container{
        display: flex;
        margin-bottom: 10px;
}
.about01-para{
        padding:40px;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #2e2e2e;
        line-height: 1.7em;
        font-size: .9em;
        

}

/** process section **/
.process-container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr ;
        grid-auto-rows: auto;
        grid-gap:20px;
        padding: 50px;
        text-align: center;
}
.about-process p h4 h1{
        font-size: .8em;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        width: 33%;
}
.process-icon {
        width: 35%;
        display: block;
        margin: auto;
}

/** advert section **/
.advert-container-aboutus {
        background-image: url("images/advert-banner07.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px;
}     
  .advert-about-text {
        top:25%;
        color:white;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 4em;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;
}
  .advert-container-aboutus01 {
        background-image: url("images/advert-banner08.jpg");
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        border-radius: 10px 10px 0 0;
} 
  .advert-about-text01 {
        top:15%;
        color:white;
        font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 1.5em;
        margin: 0 auto;
        display: block;
        text-align: center;
        position: relative;
}



/* footer CSS*/

    footer {
            padding: 25px 30px;
            background-color:#092648;
            display: flex;
            justify-content: space-around;
            align-items: center;
            }
    footer a{
            color: #fcfbfb;
            text-decoration: none;
            }
    footer a:hover {
            color: #ef4123;
            text-decoration: none;
            }
    footer .social img {
            padding-top: 5px;
            }
    footer p{
            color: #fcfbfb;
            font-size: 12px;
            }


@media screen and (max-width: 900px) {
#hero, .home-grid{
        display: block;
        height: auto;
}
main{
        display: block;
        width :100%
}
nav, footer {
        flex-direction: column;
}
nav a {
        display: block;
        padding: 15px;
}
.slideshow-container {
        max-width: 100%;
        margin: auto;
        border-radius: 0 0 10px 10px;
        overflow: hidden; 
        }
#unlock, #customer, #easy{
        font-size: 5em;
        }
.review-container{
        display: block;
        margin: 20px;
        text-align: center;
        z-index: -1;
}
.advert-index-text {
        top:23%;
        font-size: 2.5em;
        margin: 40px;        
}
.advert-index-text01 {
        top:13%;
        font-size: 3em; 
        width: 70%; 
}
.index-pack-container{
        display: block;       
}
.index-pack-icon {
        width: 22%;
        display: block;
        margin: 0 auto;
}
.review-container{
        margin-top: -30px;
}
.img-text {
        font-size: 3em;     
}
.package01-container{
        display:inline;
        margin-bottom: 10px;
}
.package01-para, .package01-img{
        width: 100%;
}
.package-container{
        display: block;
}
.package-icon {
        width: 20%;
        display: block;
        margin: 0 auto;
}
button{
        margin-bottom: 20px;
}
.advert-package-text{
        font-size: 2.5em;
}
.advert-about-text{
        font-size: 2.8em;
}
.process-container{
        display: block;        
}
.about-process p h4 h1{
        width: 47%;
        font-size: 1.5em;
}
.process-icon {
        width: 16%;
}
.advert-about-text01{
        font-size: 1.2em;

}
}